{% extends "base.html" %}  {% load static djangoffice_tags menu %}
{% block title %}Edit Expense Type '{{ expense_type.name|escape }}' | {% endblock %}
{% block menu %}{% include_menu "manage" "expense_types" %}{% endblock %}
{% block content %}
<h1>Edit Expense Type</h1>
<form name="expenseTypeForm" id="expenseTypeForm" action="." method="POST">
{% csrf_token %}
<table cellspacing="0">
{{ form }}
</table>
<div class="buttons">
  <button type="submit" class="positive"><img src="{% static 'img/tick.png' %}" alt=""> Edit Expense Type</button>
  <a href="{{ expense_type.get_absolute_url }}" class="negative"><img src="{% static 'img/cancel.png' %}" alt=""> Cancel</a>
</div>
</form>
{% endblock %}