{% extends "base.html" %}  {% load static djangoffice_tags menu %}
{% block title %}Edit Admin User | {% endblock %}
{% block menu %}{% include_menu "manage" "users" %}{% endblock %}
{% block content %}
<h1>Edit Admin User</h1>
<form name="adminUserForm" id="adminUserForm" action="." method="POST">
{% csrf_token %}
<table cellspacing="0">
{{ form }}
</table>
<div class="buttons">
  <button type="submit" class="positive"><img src="{% static 'img/user_edit.png' %}" alt=""> Edit Admin User</button>
  <a href="{% url user_list %}" class="negative"><img src="{% static 'img/cancel.png' %}" alt=""> Cancel</a>
</div>
</form>
{% endblock %}