{% extends "base.html" %}  {% load static djangoffice_tags menu %}
{% block title %}Edit Invoice {{ invoice.formatted_number }} | {% endblock %}
{% block menu %}{% include_menu "invoices" "invoices" %}{% endblock %}
{% block content %}
<h1>Edit Invoice</h1>
<form name="invoiceForm" id="invoiceForm" action="." method="POST">
{% csrf_token %}
<table cellspacing="0">
{{ form }}
</table>
<div class="buttons">
  <button type="submit" class="positive"><img src="{% static 'img/tick.png' %}" alt=""> Edit Invoice</button>
  <a href="{{ invoice.get_absolute_url }}" class="negative"><img src="{% static 'img/cancel.png' %}" alt=""> Cancel</a>
</div>
</form>
{% endblock %}